* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-color: antiquewhite; 
    color: rgb(37, 35, 35);
    overflow: hidden;
}

#main {
    height: 87.75vh;
    border: .75vh solid black;
}

#nav_menu{
    color: antiquewhite;
}

#menu_list{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#menu_item img{
    height: 10vh;
}

#menu_item_border{
    margin: 0vh 5vh;
}

#menu_item_border button{
    cursor: pointer;
    background-color: transparent;
    color: antiquewhite;
    border: none;
    font-size: 3vh;
}

.conteudo{
    height: 85.5vh;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.conteudo.ativo {
    display: flex;
    opacity: 1;
}

.conteudo img{
    height: 50vh;
}

.descrica_conteudo{
    padding-left: 2.5vh;
}

.descrica_conteudo p{
    width: 50vh;
}

#tracos {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5.5vh;
    gap: 1.25vh;
    width: 100%;
}

#tracos p{
    border-radius: 2vh;
    border: .25vh solid black;
    padding: .5vh 3.5vh;
    background-color: antiquewhite;
}

#tracos .traco.ativo{
    background-color:  rgb(37, 35, 35);
    transition: opacity 0.8s ease;
}