* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-color: antiquewhite; 
    color: rgb(37, 35, 35);
    overflow: hidden;
}

#main {
    height: 87.75vh;
    border: .75vh solid rgb(37, 35, 35);
}

#nav_menu{
    border: .5vh solid rgb(37, 35, 35);
}

#menu_item img{
    height: 10vh;
}

#menu_list, #menu_item img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.conteudo{
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.conteudo.ativo {
    display: flex;
    opacity: 1;
}

.conteudo img{
    height: 50vh;
}

.descrica_conteudo h1{
    padding-left: 2.5vh;
}

.descrica_conteudo p{
    padding-left: 2.5vh;
    width: 50vh;
}

#butoes {
    display: flex;
    justify-content: space-between;
    padding: 0vh 27.5vh;
}

#butoes button{
    border: none;
}

button i{
    position: absolute;
    top: 50%;
    font-size: 2.5vh;
    color: rgb(37, 35, 35);
    background-color:  antiquewhite;
    padding: 1.5vh;
    border-radius: 55%;
    border: .25vh solid black;
    cursor: pointer;
}

button:hover i{
    background-color: rgb(37, 35, 35);
    color: antiquewhite;
}

#tracos {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5.5vh;
    gap: 1.25vh;
    width: 100%;
}

#tracos p{
    border-radius: 2vh;
    border: .25vh solid black;
    padding: .5vh 3.5vh;
    background-color: antiquewhite;
}

#tracos .traco.ativo{
    background-color:  rgb(37, 35, 35);
    transition: opacity 0.8s ease;
}